{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="MainAboutDiv">

    <div class="AboutMenuDiv"></div>

    <div class="AboutMenu">
            {% for opt, conect in about_options.items %}
                <a href="#{{ conect }}" class="ServiceHedder">{{ opt }}</a>
            {% endfor %}
    </div>

    <div class="LogoAbout" id="LogoAbout">
        <img src="{% static 'pics/logo.png' %}" class="LogoP" alt="LogoPicAbout">
    </div>

    <div class="AboutTextDiv">
        <p class="AboutText">
            Адвокатска кантора лигъл АДВАЙЗ е създадена през 2008г. от адвокат Христина Джулева в гр. София. От самото си създаване кантората разчита на млад, амбициозен и висококвалифициран екип, посредством който Лигъл АДВАЙЗ предлага професионално правно обслужане и консултации на своите клиенти в комбинация с учтиво отношение, внимание и съобразен с нуждите на клиента индивидуален подход.
    Кантората предоставя комплексно правно обслужване на български и чуждестранни физически и юридически лица в сферата на облигационното, търговското, вещното, административното, данъчното, семейното и наследственото право и други сфери на правото.
    Адвокатската кантора предоставя пълен спектър от правни услуги в посочените сфери на дейност, включително, но не само:
    процесуално представителство и защита пред гражданските и административните съдилища, арбитражните институции и различни административни органи;
    цялостно правно обслужване на търговската дейност на клиенти. Правни услуги се предоставят както по повод на конкретно възлагане от страна на клиента, така и по силата на сключен договор за абонаментно правно обслужване; - пълно правно обслужване на всякакъв вид сделки с недвижими имоти;
    предоставяне на консултации и изготвяне на становища по правни въпроси от посочените сфери на дейност; изготвяне на всякакъв вид договори и споразумения;
    посредничество и участие при водене на преговори, както по повод подготовка на бъдещи договорни отношения, така и във връзка с възникнал правен спор - с цел постигане на извънсъдебно споразумение между страните в спора;

        </p>
    </div>

    <div class="AriasDiv">
        <h1 class="AriasHeder" id="AriasHeder"><br>Сфери на дейност</h1>
        <div class="InfoArias">
            <ul class="ListArias">
                <li>ТЪРГОВСКО ПРАВО</li>
                <li>ОБЛИГАЦИОННО ПРАВО</li>
                <li>ВЕЩНО ПРАВО</li>
                <li>АДМИНИСТРАТИВНО ПРАВО</li>
                <li>ДАНЪЧНО ПРАВО</li>
                <li>СЕМЕЙНО ПРАВО</li>
            </ul>
        </div>

    </div>

    <h1 class="TeamHeder" id="TeamHeder"><br>Екип</h1>

    {% for emp in employees %}

        <div class="EmployeeFomrs">

            {% if emp.image %}
                <div class="PicSection">
                    <img src="{{ emp.image.url }}" alt="ProfileImage"/>
                </div>
            {% else %}
                <div class="PicSection"></div>
            {% endif %}

            <div class="InfoSection">
                <h3 class="EmploeeName">{{ emp.first_name }} {{ emp.last_name }}</h3>
                <p class="EmployeeInfo">{{ emp.information }}</p>
            </div>
        </div>


    {% endfor %}
</div>


{% endblock %}