{% extends 'index.html' %}
{% load static %}
{% block content %}

    <div class="MainCont">

        <div class="ContactsBackground"></div>

        <div class="AdressDiv">

            <div class="Adres">

                <ul class="TextAdress">
                    <li><span>РАБОТНО ВРЕМЕ:</span> ПОНЕДЕЛНИК - ПЕТЪК: 10:00 до 18:00</li>
                    <li><span>АДРЕС:</span> Хан Аспарух 7, ет. 2, оф. 4, 1463 София</li>
                    <li><span>EMAIL:</span>  office@leagal-advice.bg</li>
                    <li><span>тел./факс:</span>  00359 2 958 58 63</li>
                </ul>

            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d462.5196496380598!2d23.31486!3d42.69033!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8807c6c5a4e894b8!2z0JDQtNCy0L7QutCw0YLRgdC60L4g0LTRgNGD0LbQtdGB0YLQstC-ICLQlNC20YPQu9C10LLQsCDQuCDQkNCy0YDQsNC80L7QsiI!5e1!3m2!1sen!2sbg!4v1644597860868!5m2!1sen!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </div>

{% endblock %}